/.docker/
/.idea/
/.claude/
/vendor/
/coverage/
/.nova/
/.phpunit.cache
/.zed
/.phpstorm.meta.php
/.fleet
/.vscode

/.php-cs-fixer.cache
/.php_cs.cache
/.phpunit.result.cache
/composer.lock

*.log
.DS_Store
Thumbs.db
desktop.ini
.env
docker-compose.yml
